.courier-order-info
  .courier-order-info__block.container-mobile
    .courier-order-info__block-image
      img(src="", alt="")
    .courier-order-info__block-info
      .courier-order-info__block-name Chàmomile
      .courier-order-info__block-note 25 пионов сорта ян флеминг
  .courier-order-info__block.container-mobile
    .courier-order-info__block-info
      .courier-order-info__block-name Количество
      .courier-order-info__block-note 1 шт
  .courier-order-info__block.container-mobile
    .courier-order-info__block-info
      .courier-order-info__block-name Текст открытки
      .courier-order-info__block-note Цветы для моего руководителя, наставника, учителя, примера и доброго человека. С днём рождения Ирина Александровна!!! от Рубена.
  form
    .courier-order-info__block.courier-order-info__block--no-border.container-mobile
      input#courierCheck(type="checkbox")
      label.courier-order-info__block-info(for="courierCheck")
        .courier-order-info__block-name.courier-order-info__block-name--check Проверил состав заказа
        .courier-order-info__block-note Проверьте заказ, чтобы принять его
    .courier-order-info__btn
      button.courier__btn.disabled(type="button")
        | Принять заказ
