.courier-top.container-mobile
  .courier-top__order
    .courier-top__order-number Заказ № 2269
    .courier-top__order-status Новый
  .courier-top__delivery
    .courier-top__delivery-block
      .courier-top__delivery-note Доставить до
      .courier-top__delivery-data 13:00
    .courier-top__delivery-block
      .courier-top__delivery-note Дата доставки
      .courier-top__delivery-data 03.03.2020
  .courier-top__note
    p Домофон не работает. Наберите, пожалуйста, 89В и консьерж пустит вас в подъезд. Поднимайтесь на 6 этаж, позвоните по телефону и оставьте цветы у двери на площадке. Заранее большое спасибо!)