.courier-contacts
  .courier-contacts__block
    p.courier-contacts__block-line.container-mobile
      span Россия, г. Москва, Трёхпрудный пер., 4, стр. 1
      span Офис/квартира: 401
    a.courier-contacts__link.courier-contacts__link--map(href="")
  .courier-contacts__block
    p.courier-contacts__block-line.container-mobile
      span.courier-contacts__name Мария
      span.courier-contacts__tel +7 985 684-17-53
    a.courier-contacts__link.courier-contacts__link--tel(href="tel:+79856841753")
  .courier-contacts__gift.container-mobile
      span Это сюрприз
  .courier-contacts__btn.container-mobile
    button.courier__btn(type="button")
      | Проверить заказ