.header
  .header__tabs.js-tabs( id="header-tabs")
    ul.header__tabs-header.js-tabs__header
      li.header__tabs-item
        a.header__tabs-link.active.js-tabs__title(href="") Заказы
      li.header__tabs-item
        a.header__tabs-link.js-tabs__title(href="") История
      li.header__tabs-item
        a.header__tabs-link.js-tabs__title(href="") Календарь
  .header__account
    span K
    .header__dropdown
      .header__dropdown-name Константин Константинопольский
      .header__dropdown-email konsntantin.k@germen.me
      a.header__dropdown-password(href="#") Изменить пароль
      a.header__dropdown-logout(href="#") Выход