.history
  .history__top
    h2.history__title История
    .history__search
      input(type="search")
      +svg("search", "18", "18")
    .history__filter
      button.history__filter-btn( type="button")
        +svg("filter", "24", "16")
        | Фильтры
  .history__table

    .table
      .thead
        .th.history__table-order Заказ
        .th.history__table-composition Содержимое заказа
        .th.history__table-date Дата
        .th.history__table-time Время
        .th.history__table-sum Сумма
      .tbody
        .history__table( id="history-accordion")
          h3.tr
            .td.history__table-order №934012
            .td.history__table-composition Chàmomile, 2 х LOVE  +2
            .td.history__table-date 27.01.2021
            .td.history__table-time 12:10
            .td.history__table-sum 12 900 ₽
            .td--arrow
          div
            table.history__table--inner
              tr
                td.td.td--inner.history__table-composition.history__table-composition--inner Chàmomile
                  span Helper
                  span Доставка
                td.td.td--inner.history__table-ammont 1
                td.td.td--inner.history__table-sum--inner 3 350 ₽
              tr
                td.td.td--inner.history__table-composition LOVE
                td.td.td--inner.history__table-ammont 2
                td.td.td--inner.history__table-sum--inner 3 240 ₽
            .history__table-comment
              +svg("comment", "24", "23")
              | Упакуйте, пожалуйста, хорошо 🙏
            .history__table-notes
              .history__table-note1 Приготовлен в 11:54
              .history__table-note2 Телефон: +7 905 932 3493
          h3.tr
            .td.history__table-order №934011
            .td.history__table-composition Stockholm, Juls
            .td.history__table-date 27.01.2021
            .td.history__table-time 12:00
            .td.history__table-sum 7 350 ₽
            .td--arrow
          div
            table.history__table--inner
              tr
                td.td.td--inner.history__table-composition.history__table-composition--inner Chàmomile
                  span Helper
                  span Доставка
                td.td.td--inner.history__table-ammont 1
                td.td.td--inner.history__table-sum--inner 3 350 ₽
              tr
                td.td.td--inner.history__table-composition LOVE
                td.td.td--inner.history__table-ammont 2
                td.td.td--inner.history__table-sum--inner 3 240 ₽
            .history__table-comment
              +svg("comment", "24", "23")
              | Упакуйте, пожалуйста, хорошо 🙏
            .history__table-notes
              .history__table-note1 Приготовлен в 11:54
              .history__table-note2 Телефон: +7 905 932 3493
          h3.tr
            .td.history__table-order №934010
            .td.history__table-composition Love #1
            .td.history__table-date 27.01.2021
            .td.history__table-time 11:50
            .td.history__table-sum 3 200 ₽
            .td--arrow
          div
            table.history__table--inner
              tr
                td.td.td--inner.history__table-composition.history__table-composition--inner Chàmomile
                  span Helper
                  span Доставка
                td.td.td--inner.history__table-ammont 1
                td.td.td--inner.history__table-sum--inner 3 350 ₽
              tr
                td.td.td--inner.history__table-composition LOVE
                td.td.td--inner.history__table-ammont 2
                td.td.td--inner.history__table-sum--inner 3 240 ₽
            .history__table-comment
              +svg("comment", "24", "23")
              | Упакуйте, пожалуйста, хорошо 🙏
            .history__table-notes
              .history__table-note1 Приготовлен в 11:54
              .history__table-note2 Телефон: +7 905 932 3493
          h3.tr
            .td.history__table-order №934009
            .td.history__table-composition Eustoma Rose M
            .td.history__table-date 27.01.2021
            .td.history__table-time 11:40
            .td.history__table-sum 3 250 ₽
            .td--arrow
          div
            table.history__table--inner
              tr
                td.td.td--inner.history__table-composition.history__table-composition--inner Chàmomile
                  span Helper
                  span Доставка
                td.td.td--inner.history__table-ammont 1
                td.td.td--inner.history__table-sum--inner 3 350 ₽
              tr
                td.td.td--inner.history__table-composition LOVE
                td.td.td--inner.history__table-ammont 2
                td.td.td--inner.history__table-sum--inner 3 240 ₽
            .history__table-comment
              +svg("comment", "24", "23")
              | Упакуйте, пожалуйста, хорошо 🙏
            .history__table-notes
              .history__table-note1 Приготовлен в 11:54
              .history__table-note2 Телефон: +7 905 932 3493
          h3.tr
            .td.history__table-order №934009
            .td.history__table-composition Round
            .td.history__table-date 27.01.2021
            .td.history__table-time 11:40
            .td.history__table-sum 3 250 ₽
            .td--arrow
          div
          h3.tr
            .td.history__table-order №934008
            .td.history__table-composition Tolya
            .td.history__table-date 27.01.2021
            .td.history__table-time 11:40
            .td.history__table-sum 3 250 ₽
            .td--arrow
          div
          h3.tr
            .td.history__table-order №934007
            .td.history__table-composition Yan
            .td.history__table-date 27.01.2021
            .td.history__table-time 11:40
            .td.history__table-sum 3 250 ₽
            .td--arrow
          div
          h3.tr
            .td.history__table-order №934006
            .td.history__table-composition Eustoma pink L
            .td.history__table-date 27.01.2021
            .td.history__table-time 11:40
            .td.history__table-sum 3 250 ₽
            .td--arrow
          div
          h3.tr
            .td.history__table-order №934005
            .td.history__table-composition Iris
            .td.history__table-date 27.01.2021
            .td.history__table-time 11:40
            .td.history__table-sum 3 250 ₽
            .td--arrow
          div





