#deleteModal.modal.fade( role="dialog" )
  .modal-dialog
    .modal-content.modal-delete
      .modal__header
        h5.modal-delete__header Отмена заказа: несколько позиций
        button.modal-delete__close(type='button' data-dismiss="modal")
      .modal-body
        form.modal-delete__form
          .modal-delete__top
            .modal-delete__radio
              .modal-delete__title Причины
              .modal-delete__inputs
                .modal-delete__input
                  input( checked type="radio" id="not-free-cancel" name="cancelation" value="not-free" )
                  label(for="not-free-cancel") Отмена со списанием
                .modal-delete__input
                  input( type="radio" id="free-cancel" name="cancelation" value="free")
                  label(for="free-cancel") Отмена без списания
            .modal-delete__textarea
              .modal-delete__title Комментарий
              textarea.modal-delete__textarea-input

          .modal-delete__buttons
            button.btn.btn-secondary(type='button' ) Отправить
            button.btn.btn-primary(type='button' data-dismiss="modal") Отмена