.order-summary
  .order-summary__top
    .order-summary__schedule.order-summary__block
      .order-summary__label Срок приготовления
      .order-summary__data 12:54 / 07:32
    .order-summary__order-number.order-summary__block
      .order-summary__label Номер заказа
      .order-summary__data #23497
    .order-summary__total-price.order-summary__block
      .order-summary__label Итого за день
      .order-summary__data 2 800 <span>₽</span>
    .order-summary__state.order-summary__block
      .order-summary__label.order-summary__label--green Новый
  .order-summary__bottom
    .order-summary__comment Погрейте, пожалуйста, круассан и поставьте напитки в капхолдер 🙏
    .order-summary__total-price 700 <span>₽</span>