.aside {
  width: 332px;
  z-index: 10;
  overflow: hidden;
  background-color: $color-light-grey;
  margin-right: auto;
  padding: 85px 16px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 100;

  &__orders-list {
    overflow-x: auto;
    height: calc(100vh - 178px);
    margin-top: 4px;
  }

  &__order {
    margin-bottom: 16px;
    display: flex;
    position: relative;
  }

  &__dropdown {
    position: relative;
    select,
    #orders-select-button {
      @include input-reset;
      height: 64px;
      padding: 20px 20px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.3px;
      display: inline-block;
      margin-left: 10px;
      width: fit-content;
      padding-right: 0;

      span {
        color: $color-tab-color;
      }
    }

    svg {
      position: absolute;
      top: 29px;
    }
  }
}

.ui-selectmenu-menu {
  z-index: 10000;
  width: 300px;
  left: 16px !important;
  background: #FFFFFF;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
  top: 76px!important;
  padding: 8px !important;
}

.ui-menu {

  margin: 0;
  width: 100%  !important;
}

.ui-widget.ui-widget-content {
  border: none !important;
}

.ui-menu .ui-menu-item-wrapper {
  height: 64px!important;
  border-radius: 8px!important;
  border-bottom: 1px solid #EBEBEB!important;
  font-weight: 600!important;
  font-size: 16px!important;
  line-height: 24px!important;
  letter-spacing: 0.31px!important;
  display: flex;
  align-items: center;
  padding: 14px !important;
}

.ui-menu-item:last-child .ui-menu-item-wrapper {
  border-bottom: none
}

.ui-button.ui-state-active:hover, .ui-button:active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
  border: none!important;
  background: #F6F6F6!important;
  font-weight: 600!important;
  color: #333333!important;
}

.ui-selectmenu-menu .ui-menu {
  padding-bottom: 8px;
}