.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: auto;

  &__logo {
    margin-bottom: 33px;
    width: 102px;
    height: 24px;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.41px;
    margin-bottom: 7px;
  }

  &__form form {
    display: flex;
    flex-direction: column;
  }

  &__form-input {
    @include input-reset;
    width: 324px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.35px;
    border-bottom: 0.5px solid $color-border;
  }

  &__form-button {
    margin-top: 32px;
  }

  &__form-remind {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.35px;
    color: $color-grey-text;
  }
}