.modal-delete {
  width: 100vw;
  height: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  max-width: 100vw;
  z-index: 100000;
  position: fixed;
  padding: 64px 16px 32px;
}

.modal__overlay {
  z-index: 100000;
}