.order-item {
  display: flex;
  padding: 26px 0 5px;
  border-top: 1px solid #EBEBEB;

  &__img {
    width: 90px;
    height: 100px;
    margin-right: 20px;

    img {
      object-fit: cover;
      object-position: center;
      border-radius: 6px;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    flex-grow: 1;
  }

  &__info-top {
    display: flex;
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: auto;
  }

  &__price {
    margin-left: 145px;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.41px;
  }

  &__ammount {
    font-size: 16px;
    line-height: 24px;
  }

  &__extra {
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 22px;
    color: $color-tab-color;
  }

  &__block {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0 16px;
    max-width: 380px;
  }

  &__block-title {
    font-weight: 600;
  }

}