.order {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  padding: 16px 65px 16px 16px;
  position: relative;
  width: 100%;
  background-color: $color-light-grey;
  margin-left: 16px;

  &--is-opened {
    background-color: $color-white;
  }

  &__note {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    color: $color-black-text;
    letter-spacing: 0.26px;

    svg {
      margin-right: 8px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: $color-grey-dark;
    margin-bottom: 4px;
  }

  &__state {
    position: absolute;
    right: 18px;
    width: 42px;
    height: 42px;
    top: 50%;
    margin-top: -23px;


  }

  &__done {
    background-color: $color-green;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__in-process {
    border: 4px solid $color-border-light;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  &__cancel .snap-drawer {
    width: 107px;
    height: 80px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: $color-pink;
    text-align: center;
    letter-spacing: 0.003em;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
}