.order-summary {
  &__top {
    display: flex;
    padding-top: 12px;
    padding-bottom: 20px;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &__label {
    font-weight: 500;
    font-size: 17px;
    line-height: 52px;
    letter-spacing: 0.41px;
    color: $color-tab-color;

    &--green {
      font-weight: 600;
      font-size: 22px;
      line-height: 52px;
      text-align: right;

      color: #84CC3D;
    }
  }

  &__data {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.41px;
    color: $color-black-text;
  }

  &__block {
    padding-right: 68px;

    &:last-child {
      padding-right: 0;
      margin-left: auto;
    }
  }

  &__comment {
    background: $color-light-grey;
    border-radius: 100px;
    max-width: 590px;
    margin-right: 60px;
    padding: 13px;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;

    color: $color-grey-dark;
  }

  &__total-price  {
    margin-left: auto;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    color: $color-black-text;
  }
}