.order-summary {
  &__top {
    display: flex;
    padding-bottom: 20px;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 32px;
  }

  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: $color-tab-color;
    margin-bottom: 7px;

    &--green {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: right;

      color: #84CC3D;
    }
  }

  &__data {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.3px;

    color: $color-black-text;
    span.gray {
      color: $color-tab-color;
    }
  }

  &__block {
    padding-right: 56px;

    &:last-child {
      padding-right: 0;
      margin-left: auto;
    }
  }

  &__comment {
    background: $color-light-grey;
    border-radius: 100px;
    max-width: 590px;
    margin-right: 60px;
    padding: 7px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: $color-grey-dark;
  }

  &__total-price  {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: $color-black-text;
  }
}