extends pug/layout.pug

block variables
  - let title = 'Вход';

block content
  .container
    include pug/partials/header-logo
    include pug/partials/header
    include pug/partials/aside
    include pug/partials/steps-delivering
    .order-cover
      .order-status
        .order-status__img
          +svg("bouquet", "75", "75")
        .order-status__title №934013 готов
        .order-status__text Передайте заказ курьеру
  include pug/partials/modal