
extends pug/layout.pug

block content

  .container-block
    br
    br
    br
    br
    br
    ul
      li
        a(href="login.html") Login
      li
        a(href="empty.html") Empty
      li
        a(href="active-order.html") active order
      li
        a(href="active-order-ready.html") active order ready
      li
        a(href="active-order-delivering.html") active order delivering
      li
        a(href="active-order-deadline.html") active order deadline
      li
        a(href="history.html") history
      li
        a(href="history+filters.html") history with filters