extends pug/layout.pug

block variables
  - let title = 'Вход';

block content
  .container
    .login
      .login__logo
        +svg("logo", "102", "24")
      .login__title Войти
      .login__form
        form(action="post")
          input.login__form-input(type="email")
          input.login__form-input(type="password")
          input.login__form-button.button-black(type="submit" value="Войти")
        a.login__form-remind(href="") Забыли пароль?
