$width-desktop: 1440px;
$width-tablet: 768px;
$width-mobile: 416px;
$width-min: 1024px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-family: "SFProDisplay", "Arial", sans-serif;
$font-base: 22px;

$color-white: #ffffff;
$color-black-text: #3E3E3E;
$color-border-light: #EBEBEB;
$color-border: #CCCCCC;
$color-tab-color: #8A8A8E;
$color-grey-text: #A1A1A1;
$color-grey-dark:#333333;
$color-green: #84CC3D;
$color-pink: #F1375F;
$color-light-grey: #F6F6F6;
$color-very-light-grey: #F5F5F5;
